In [98]:
import preprocessing
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [68]:
autoreload

##データ加工

In [115]:
results_preprocessed=preprocessing.process_results()

In [116]:
results_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93372 entries, 27924 to 85862
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   race_id      93372 non-null  int64
 1   horse_id     93372 non-null  int64
 2   jockey_id    93372 non-null  int64
 3   trainer_id   93372 non-null  int64
 4   rank         93372 non-null  int64
 5   wakuban      93372 non-null  int64
 6   umaban       93372 non-null  int64
 7   sex          93372 non-null  int64
 8   age          93372 non-null  int64
 9   weight       93372 non-null  int64
 10  weight_diff  93372 non-null  int64
 11  tansyo_odds  93372 non-null  float64
 12  popularity   93372 non-null  int64
 13  impost       93372 non-null  float64
 14  agari        93372 non-null  float64
dtypes: float64(3), int64(12)
memory usage: 11.4 MB

In [117]:
#重複チェック
results_preprocessed.duplicated(subset=["race_id","horse_id"]).sum()

0

In [118]:
#欠損チェック
results_preprocessed.isnull().sum()

race_id        0
horse_id       0
jockey_id      0
trainer_id     0
rank           0
wakuban        0
umaban         0
sex            0
age            0
weight         0
weight_diff    0
tansyo_odds    0
popularity     0
impost         0
agari          0
dtype: int64

In [119]:
horse_results_preprocessed=preprocessing.process_horse_results()

/home/jawa/horse/keiba_new/v2_0_0/src/preprocessing.py:124: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  """

In [120]:
horse_results_preprocessed

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,agari,race_class,n_horses
0,2021105423,2024-11-10,1,1140.0,0.0,1.0,1,1800,0.0,33.7,3.0,10.0
1,2021105423,2024-10-05,3,392.5,0.2,2.0,1,2000,2.0,33.4,3.0,7.0
2,2021105423,2024-09-01,3,392.7,0.4,1.0,1,1600,1.0,34.2,5.0,8.0
3,2021105423,2024-08-04,1,800.0,0.0,0.0,1,1600,0.0,33.4,2.0,18.0
4,2021105423,2024-04-13,9,0.0,0.7,0.0,1,1600,0.0,33.3,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230497,2021105557,2023-09-18,1,720.0,0.0,0.0,1,2000,0.0,33.8,0.0,8.0
230498,2022106696,2025-01-06,14,0.0,1.5,1.0,1,2000,0.0,35.6,1.0,18.0
230499,2022106696,2024-11-03,11,0.0,2.2,0.0,0,1150,3.0,37.4,1.0,16.0
230500,2022106696,2024-09-07,12,0.0,1.4,0.0,1,1600,0.0,35.9,1.0,12.0
230501,2022106696,2024-08-24,8,0.0,1.0,0.0,1,1600,0.0,35.2,0.0,12.0

In [121]:
horse_results_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 227950 entries, 0 to 230501
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   horse_id      227950 non-null  int64
 1   date          227950 non-null  datetime64[ns]
 2   rank          227950 non-null  int64
 3   prize         227950 non-null  float64
 4   rank_diff     227606 non-null  float64
 5   weather       227649 non-null  float64
 6   race_type     227950 non-null  int64
 7   course_len    227950 non-null  int64
 8   ground_state  227946 non-null  float64
 9   agari         227598 non-null  float64
 10  race_class    198650 non-null  float64
 11  n_horses      227950 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(4)
memory usage: 22.6 MB

In [122]:
race_info_preprocessed=preprocessing.process_race_info()

In [123]:
race_info_preprocessed

,race_id,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202406010111,2024-01-06,1.0,0.0,2000,0,0,5,2
1,202309020109,2023-03-25,1.0,0.0,1800,1,0,2,1
2,202303020408,2023-07-09,1.0,0.0,1800,1,0,2,9
3,202307020402,2023-03-19,0.0,1.0,1900,0,1,1,4
4,202410020205,2024-02-11,1.0,0.0,2000,0,0,1,8
...,...,...,...,...,...,...,...,...,...
6905,202407040401,2024-12-08,0.0,1.0,1200,0,0,1,4
6906,202403020412,2024-07-07,0.0,0.0,1150,0,0,3,9
6907,202403020406,2024-07-07,1.0,0.0,1200,0,0,0,9
6908,202408060403,2024-11-10,1.0,0.0,1600,0,0,1,3
6909,202408060704,2024-11-23,NaN,NaN,2910,1,0,1,3

##  特徴量作成

In [124]:
from feature_engineering import FeatureCreator

In [125]:
fc=FeatureCreator()

In [126]:
fc.results

,race_id,horse_id,jockey_id,trainer_id,rank,wakuban,umaban,sex,age,weight,weight_diff,tansyo_odds,popularity,impost,agari
0,202301010101,2021100648,1095,1128,5,1,1,1,2,434,0,23.9,5,55.0,34.5
1,202301010101,2021100159,1157,1186,6,2,2,0,2,454,6,61.8,7,55.0,35.1
2,202301010101,2021100265,1197,1192,7,3,3,1,2,404,2,18.8,4,53.0,35.3
3,202301010101,2021105553,5339,1160,4,4,4,1,2,450,2,16.6,3,55.0,34.9
4,202301010101,2021101429,1170,1026,1,5,5,0,2,452,4,1.2,1,55.0,34.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93367,202410030812,2020101594,1187,1135,3,6,11,0,4,446,0,35.0,10,56.0,37.9
93368,202410030812,2021104131,1018,1003,5,7,12,0,3,474,2,4.2,2,55.0,38.5
93369,202410030812,2020103212,5212,1061,7,7,13,0,4,522,2,5.4,3,58.0,38.6
93370,202410030812,2020103550,1154,1121,10,8,14,0,4,484,6,28.1,8,58.0,38.8
93371,202410030812,2021101090,1204,1170,14,8,15,1,3,456,0,85.7,14,50.0,41.4

In [127]:
fc.horse_results

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_state,agari,race_class,n_horses
0,2021105423,2024-11-10,1,1140.0,0.0,1.0,1,1800,0.0,33.7,3.0,10.0
1,2021105423,2024-10-05,3,392.5,0.2,2.0,1,2000,2.0,33.4,3.0,7.0
2,2021105423,2024-09-01,3,392.7,0.4,1.0,1,1600,1.0,34.2,5.0,8.0
3,2021105423,2024-08-04,1,800.0,0.0,0.0,1,1600,0.0,33.4,2.0,18.0
4,2021105423,2024-04-13,9,0.0,0.7,0.0,1,1600,0.0,33.3,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...
227945,2021105557,2023-09-18,1,720.0,0.0,0.0,1,2000,0.0,33.8,0.0,8.0
227946,2022106696,2025-01-06,14,0.0,1.5,1.0,1,2000,0.0,35.6,1.0,18.0
227947,2022106696,2024-11-03,11,0.0,2.2,0.0,0,1150,3.0,37.4,1.0,16.0
227948,2022106696,2024-09-07,12,0.0,1.4,0.0,1,1600,0.0,35.9,1.0,12.0
227949,2022106696,2024-08-24,8,0.0,1.0,0.0,1,1600,0.0,35.2,0.0,12.0

In [128]:
features=fc.create_features()

In [129]:
features

,race_id,horse_id,date,jockey_id,trainer_id,rank,wakuban,umaban,sex,age,...,race_class,place,rank_3races,prize_3races,rank_5races,prize_5races,rank_10races,prize_10races,rank_1000races,prize_1000races
0,202301010101,2021100648,2023-07-22,1095,1128,5,1,1,1,2,...,1,5,4.500000,77.500000,4.5,77.50,4.500000,77.500000,4.500000,77.500000
1,202301010101,2021100159,2023-07-22,1157,1186,6,2,2,0,2,...,1,5,8.000000,0.000000,8.0,0.00,8.000000,0.000000,8.000000,0.000000
2,202301010101,2021100265,2023-07-22,1197,1192,7,3,3,1,2,...,1,5,5.000000,72.000000,5.0,72.00,5.000000,72.000000,5.000000,72.000000
3,202301010101,2021105553,2023-07-22,5339,1160,4,4,4,1,2,...,1,5,4.000000,110.000000,4.0,110.00,4.000000,110.000000,4.000000,110.000000
4,202301010101,2021101429,2023-07-22,1170,1026,1,5,5,0,2,...,1,5,2.000000,290.000000,2.0,290.00,2.000000,290.000000,2.000000,290.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93367,202410030812,2020101594,2024-07-21,1187,1135,3,6,11,0,4,...,2,8,4.333333,106.666667,3.0,104.00,2.600000,133.300000,3.666667,114.266667
93368,202410030812,2021104131,2024-07-21,1018,1003,5,7,12,0,3,...,2,8,4.666667,106.666667,4.0,183.24,3.285714,250.885714,3.285714,250.885714
93369,202410030812,2020103212,2024-07-21,5212,1061,7,7,13,0,4,...,2,8,4.333333,373.333333,4.0,284.00,3.833333,260.000000,3.833333,260.000000
93370,202410030812,2020103550,2024-07-21,1154,1121,10,8,14,0,4,...,2,8,5.000000,106.666667,4.2,144.00,4.300000,140.000000,5.062500,126.875000
93371,202410030812,2021101090,2024-07-21,1204,1170,14,8,15,1,3,...,2,8,8.666667,0.000000,5.8,154.00,5.500000,146.666667,5.500000,146.666667

##  学習

In [130]:
from train import Trainer, create_yaml

In [131]:
create_yaml()
r=Trainer()
evaluation_df=r.run(test_start_date="2024-05-01")

YAML ファイルを作成しました: config.yaml
(63755, 32) (29617, 32)
[LightGBM] [Info] Number of positive: 4659, number of negative: 59096
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.065422 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3135
[LightGBM] [Info] Number of data points in the train set: 63755, number of used features: 28
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.073077 -> initscore=-2.540362
[LightGBM] [Info] Start training from score -2.540362
Training until validation scores don't improve for 100 rounds
[100]	valid's binary_logloss: 0.19469
Early stopping, best iteration is:
[65]	valid's binary_logloss: 0.19448
--------------------result--------------------
test_df's binary_logloss: 0.1944800630460956

In [132]:
from feature_engineering  import  PredictionFeatureCreator
r=PredictionFeatureCreator()

##  レース予想

In [133]:
import preprocessing

horse_results_preprocessed=preprocessing.process_horse_results(
    save_filename="horse_results_prediction.csv"
)

In [134]:
horse_results_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4612 entries, 0 to 4633
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   horse_id      4612 non-null   int64
 1   date          4612 non-null   datetime64[ns]
 2   rank          4612 non-null   int64
 3   prize         4612 non-null   float64
 4   rank_diff     4610 non-null   float64
 5   weather       4610 non-null   float64
 6   race_type     4612 non-null   int64
 7   course_len    4612 non-null   int64
 8   ground_state  4612 non-null   int64
 9   agari         4610 non-null   float64
 10  race_class    4305 non-null   float64
 11  n_horses      4612 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(6)
memory usage: 468.4 KB

## レース当日

In [220]:
autoreload

In [140]:
pfc=PredictionFeatureCreator()
pfc.agg_horse_n_races()

In [205]:
pfc.agg_horse_n_races_df

,date,race_id,horse_id,rank_3races,prize_3races,rank_5races,prize_5races,rank_10races,prize_10races,rank_1000races,prize_1000races
0,2025-02-15,202505010501,2022100749,4.000000,110.333333,4.400000,88.200000,4.400000,88.200000,4.400000,88.200000
1,2025-02-15,202505010501,2022106071,4.666667,97.333333,4.666667,97.333333,4.666667,97.333333,4.666667,97.333333
2,2025-02-15,202505010501,2022107077,4.000000,110.000000,4.000000,110.000000,4.000000,110.000000,4.000000,110.000000
3,2025-02-15,202505010501,2022102769,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000,12.000000,0.000000
4,2025-02-15,202505010501,2022106894,9.000000,0.000000,9.000000,0.000000,9.000000,0.000000,9.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
459,2025-02-15,202510010712,2021100238,5.666667,66.666667,4.600000,106.000000,4.600000,106.000000,4.600000,106.000000
460,2025-02-15,202510010712,2021104276,6.000000,66.666667,6.800000,40.000000,6.000000,112.222222,6.000000,112.222222
461,2025-02-15,202510010712,2020102559,5.333333,93.333333,5.800000,72.000000,5.500000,88.000000,5.590909,91.727273
462,2025-02-15,202510010712,2021100752,7.666667,66.666667,5.200000,194.000000,5.333333,147.555556,5.333333,147.555556
463,2025-02-15,202510010712,2020106922,6.000000,106.666667,5.600000,96.000000,3.900000,181.000000,3.727273,190.000000

In [221]:
features=pfc.create_features(
    race_id="202508010511",
    skip_agg_horse=True
)

AttributeError: 'NoneType' object has no attribute 'find'